@import url("https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Leckerli+One|Montaga|Pinyon+Script|Quattrocento|Quattrocento+Sans|Ruthie&display=swap");

body {
  margin: 0;
  background-color: #ffe3ed;
  color: #01161e;
  height: 100%;
  /* \
  color: #090C08;
  color: #65DEF1;
  #9F84BD
  */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family:
    /* "Pinyon Script"; // Maybe Whillow Whisk title */


    /* "Dawning of a New Day"; // Looks good for NavBar */
    /* "Quattrocento"; // Readable NavBar*/
    "Quattrocento Sans";

  /* "Leckerli One"; // Maybe Subheading? */
  /* "Montaga"; Not For NavBar or Header */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainComponent {
  margin: 0 auto;
  min-height: 50.55vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
  width: 1170px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#mainLogo {
  border-radius: 50%;
  height: 170px;
  padding: 4px;
  border: 10px solid #fffdf9;
  background-color: #2e8d989f;
}

#topLogo {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 15px;
  background-color: #9be3de;
}

#topLogo a {
  color: #9f9fed;
}

a {
  text-decoration: none;
  color: #444444;
}

#navBar {
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #beebe9;
  /* border-color: #9f9fed; */
}

#navBar ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

#navBar ul li {
  display: inline-block;
  padding: 30px 30px;
  font-weight: bold;
}

#navBar li:hover {
  background-color: #f7828ed3;
  border-radius: 5%;
  color: #2e8e98;
}

/* background-color: #007EA7; */
/* background-color: #2c0927e0; */

/* Menu || Gallery Component */
#gallery>img {
  border: 10px solid #f7828ed3;
  margin: 1.75px;
}

/* Footer Component */
#footer {
  position: relative;
  width: 100%;
  background-color: #d19814;
  display: inline-flex;
  justify-content: space-around;
}

/* Location Component */
#location {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Location Component */
#contact {
  margin: 0 auto;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#contact input,
#contact textarea,
#contact button {
  padding: .75rem;
  font-size: 1rem;
  font-family: "Quattrocento Sans";
  margin: 1rem;
}

#contact textarea {
  height: 90px;
}